@model IEnumerable<WHATEVER_ZAPROS.Models.Article>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers 
@{ Layout = "_LayoutAdmin"; ViewBag.Title = "Все статьи";}

<h2>Все статьи</h2>
<thead>
	<table class="table table-hover text-center">	
		<tbody>
			@foreach (var r in Model)
			{
			<tr >
				
				<td>@r.Header</td>
				<td>@r.DateTimeArticle</td>
				<td>@r.language.LanguageProgramming1</td>
				<td>@r.user.LoginUser</td>
				<td><a class="btn btn-outline-dark" asp-action="MoreArticle" asp-route-id="@r.IdArticle"/>Подробнее...</td>
			</tr>
			}
		</tbody>
	</table>
</thead>